<!-- filter form -->
{{ form.non_field_errors }}

 <div class="wrap">
	<p>{% include "testbed/object_field.html" with field=form.network_speed %}</p>
	<p>{% include "testbed/object_field.html" with field=form.experimentation %}</p>
	<p>{% include "testbed/object_field.html" with field=form.passes_homes %}</p>
	<p>{% include "testbed/object_field.html" with field=form.passes_business %}</p>
	<p>{% include "testbed/object_field.html" with field=form.passes_anchor %}</p>
</div>
<!-- /filter form -->
