<!-- FULL ROW -->
<div class="page-a contain narrow">
	<div class="main" data-mh="my-group1">
		<h3>MY ACTION CLUSTERS</h3>
		{% if object_list %}
			<div class="featured-d">
			{% for object in object_list %}
				{% if forloop.counter <= 3 %}
					{% include "includes/lists/object_block_dashboard_base.html" with object=object %}
				{% endif %}
			{% endfor %}
			</div>
		{% else %}
			<div>
				<p>You haven't created an app yet.</p>
				{% comment %}<a class="button primary expand space-top" href="{% url 'app_add' %}">CREATE APPLICATION</a>{% endcomment %}
			</div>
		{% endif %}

	</div>
	<div class="side sidebar-a hide show@large" data-mh="my-group1">
		<div class="section">
			<h4 class="hx">YOU MAY ALSO LIKE THESE ACTION CLUSTERS</h4>
			<ul class="nobullet sidebar__list">
	            {% for object in similar_list %}
	              {% include "people/includes/object_headline_mini.html" with object=object %}
	            {% endfor %}
	        </ul>
		</div>
	</div>
</div>

