{% load snippets_tags news_tags common_markdown %}
<div class="page-a contain narrow">
	<div class="main" data-mh="my-group4">
		<h3>MY COMMUNITIES</h3>
		{% if object_list %}
			<div class="featured-d">
			{% for object in object_list %}
				{% if forloop.counter <= 3 %}
					{% include "includes/lists/object_block_dashboard_base.html" with object=object %}
				{% endif %}
			{% endfor %}
			</div>
		{% else %}
			<div>
				<p>You haven't subscribed to a community.</p>
				<a class="button-a" href="{% url 'hub_list' %}">SUBSCRIBE TO A COMMUNITY</a>
			</div>
		{% endif %}

	</div>
	<div class="side sidebar-a hide show@large" data-mh="my-group4">
		<div class="section">
			<h4 class="hx">CHECK OUT THESE COMMUNITIES</h4>
			<ul class="nobullet sidebar__list">
	            {% for hub in featured_hub_list %}
	              {% include "people/includes/object_headline_mini.html" with object=hub %}
	            {% endfor %}
	        </ul>
		</div>
	</div>
</div>
