{% load thumbnail %}
<a href="{{ object.get_absolute_url }}" title="{{ object.name }}" class="sidebar-list-link">

	<div class="thumb">
		{% if object.image %}
        {% thumbnail object.image '50x50' crop='center' as im %}
		<img src="{{ im.url }}" alt="{{ object.name }}" class="sidebar__list__image">
        {% endthumbnail %}
		{% else %}
		{% with SITE_URL|add:STATIC_URL|add:'/img/hero-b-bg-a.jpg' as path %}
			{% thumbnail path '50x50' crop='center' as im %}
			<img src="{{ im.url }}" alt="{{ object.name }}" class="sidebar__list__image">
        	{% endthumbnail %}
        {% endwith %}
		{% endif %}
	</div>

	<div class="text">
		<span class="sidebar__list__desc">
			{% if object.is_blog_post %}
				{{ object.title }}
			{% else %}
				{{ object.name }}
			{% endif %}
		</span>
	</div>
</a>
