{% load snippets_tags news_tags common_markdown thumbnail %}
<div class="page-a contain narrow">
	<div class="main" data-mh="my-group2">
		<h3>LATEST NEWS</h3>
		{% if object_list %}
		<div class="featured-d">
			{% for object in object_list %}
			{% if forloop.counter <= 3 %}

			<div>
				<article>
				   	{% if object.image %}
			        <figure>
			            <a href="{{ object.get_absolute_url }}">
                            {% thumbnail object.image "800x400" crop='center' as im %}
			                <img class="img-thumbnail " src="{{ im.url }}">
                            {% endthumbnail %}
			            </a>
			        </figure>
			        {% else %}
			        <figure>
			            <a href="{{ object.get_absolute_url }}">
			               {% with SITE_URL|add:STATIC_URL|add:'/img/hero-b-bg-a.jpg' as path %}
								{% thumbnail path '800x400' crop='center' as im %}
								<img src="{{ im.url }}" alt="{{ object.name }}" class="sidebar__list__image">
					        	{% endthumbnail %}
					        {% endwith %}
			            </a>
			        </figure>
			        {% endif %}
				    <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
				    <div>
						{% if object.categories_new.all %}
			                <p class="cat">
			                <small>
			                Categories:
			                {% for category in object.categories_new.all %}
			                <a href="{% url "blog_post_list_category" category.slug %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
			                {% endfor %}
			                </small>
			                </p>
			            {% endif %}
				    </div>
				</article>
			</div>

			{% endif %}
			{% endfor %}
		</div>
		{% endif %}

	</div>
	<div class="side sidebar-a hide show@large" data-mh="my-group2">
		<div class="section">
			<h4 class="hx">IN CASE YOU MISSED THIS NEWS</h4>
			<ul class="nobullet sidebar__list">
				{% for object in object_list %}
				{% if forloop.counter > 2 %}
				{% include "people/includes/object_headline_mini.html" with object=object %}
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
