{% extends "includes/lists/object_list_base.html" %}

{% block title %}Ignite communities - {{ block.super }}{% endblock title %}

{% block page_title %}Ignite Communities{% endblock page_title %}

{% block intro %}
<div class="intro">
	<div class="wrap contain narrow">
		<h3 class="hx-a">Join a Community Hub</h3>
		<p>Our online Hubs provide the perfect opportunity for you to get more involved in our community by learning and sharing relevant information about next-generation technologies. Our Hubs have been designed so members can share resources, expertise, events, applications and more. If you don’t see a community hub listed that meets your needs, go ahead and create your own in just a few simple steps.</p>

		<h4 class="newsletter__heading"><strong>WANT TO LIST YOUR COMMUNITY?</strong></h4>

		<a href="{% url 'hub_application'%}" class="button-a">SUBMIT YOUR COMMUNITY</a>{% csrf_token %}

		<div class="spacer" style="height: 70px;"></div>
	</div>
</div>
{% endblock intro %}