{% extends "includes/lists/object_list_base.html" %}

{% block title %}Ignite communities - {{ block.super }}{% endblock title %}

{% block page_title %}Ignite Communities{% endblock page_title %}

{% block intro %}
<div class="intro">
	<div class="wrap contain narrow">
		<h3 class="hx-a">Join a Community Hub</h3>
		<p>Our online Hubs provide the perfect opportunity for you to get more involved in our community by learning and sharing relevant information about next-generation technologies. Our Hubs have been designed so members can share resources, expertise, events, applications and more. If you don’t see a community hub listed that meets your needs, go ahead and create your own in just a few simple steps.</p>

		<h4 class="newsletter__heading"><strong>WANT TO LIST YOUR COMMUNITY?</strong></h4>

		<a href="{% url 'hub_application'%}" class="button-a">SUBMIT YOUR COMMUNITY</a>{% csrf_token %}

	</div>
</div>
{% endblock intro %}

{% block filter_object %}
<form method="get" action="{% url 'search_hubs' %}" class="filters-a" id="hub-search-form" style="margin-top: -130px">
    <h3 class="hx">Filter Results By...</h3>
    <div class="wrap">
        <p><label for="f-fk">Keyword</label> <input type="text" name="q" id="f-fk" placeholder="Search by city, communitiy name, etc." /></p>
{#        <p><label for="f-fs">Feature</label> <select name="feature" id="f-fs">#}
{#            <option value="" selected>---</option>#}
{#            {% for feature in feature_list %}#}
{#            <option value="{{ feature.slug }}">{{ feature.name }}</option>#}
{#            {% endfor %}#}
{#        </select></p>#}
        <p><label for="f-fs">Program</label> <select name="program" id="f-fs">
            <option value="" selected>---</option>
            {% for program in program_list %}
            <option value="{{ program.slug }}">{{ program.name }}</option>
            {% endfor %}
        </select></p>
        <p><label for="f-fr">Sort by</label> <select name="order" id="f-fr">
            <option value="desc" selected>Newest First</option>
            <option value="asc">Oldest First</option>
        </select></p>
        <p class="action"><button type="submit" class="button-a">Search</button></p>
    </div>
</form>
{% endblock filter_object %}

{% block object_table %}
<table>
	<thead>
		<tr>
			<th scope="col">Name</th>
            <th scope="col">Programs</th>
			<th scope="col">Summary</th>
			<th scope="col">Website</th>
		</tr>
	</thead>
	<tbody>
		
	{% for object in page.object_list_top %}
	
	<tr>
		<td>
			<p><big><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></big></p>
		</td>
        <td class="hide@small">
            {% with object.programs.all as programs %}
                {% for program in programs %}
                    {{ program }}{% if forloop.last %}{% else %}, {% endif %}
                {% endfor %}
            {% endwith %}
        </td>
		<td class="hide@small">{{ object.summary|truncatewords_html:25 }}</td>
		<td class="hide@small"><a href="{{ object.website }}" target="_blank">{{ object.website }}</td>
	</tr>
	{% endfor%}

	</tbody>
</table>
{% endblock object_table %}