{% extends BASE_TEMPLATE %}
{% load mezzanine_tags keyword_tags %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
<section class="content-a" id="content">

	<div class="hero-b">
		<!-- you can art direct image using <picture> here too if needed -->
		<figure class="bg-a"><img src="{{ STATIC_URL }}img/hero-b-bg-a.jpg?1280x200" alt="" /></figure>
		<div class="contain narrow">
			<h1 class="hx">{{ page.title }}</h1>
		</div>
	</div>

	<!--[if IE]><p class="browser-a">Your browser is outdated, it may not render this page properly, please <a href="http://browsehappy.com/" rel="external">upgrade</a>.</p><![endif]-->

	<div class="page-a contain">
		<div class="main">
			{{ page.richtextpage.content|safe }}
			
		</div>
		<div class="side sidebar-a hide show@large">
			<div class="section">
				<h4 class="hx">About</h4>
				<p>Welcome to the Smart Gigabit Communities Page! This page is managed by John Doe.</p>
				<p>We believe that Smart Gigabit Communities can change the world.</p>
				<p>Feel free to message me at <a href="./">johndoe@email.com</a> with any questions.</p>
			</div>
			<div class="section">
				<h4 class="hx">Latest News</h4>
				<ul class="lx-a">
					<li><a href="./">Four Major Cities Join The Smart Gigabit Communities Program</a> <time>Oct 31, 2016</time></li>
				</ul>
				<p class="action"><a href="./" class="button-a text">See More <span class="arrow-a"></span></a></p>
			</div>
			<div class="section">
				<h4 class="hx">Upcoming Events</h4>
				<ul class="lx-a">
					<li><a href="./">Africa Trade and Investment Summit (ATIGS) 2018</a> <time>Oct 31, 2016</time></li>
				</ul>
				<p class="action"><a href="./" class="button-a text">See More <span class="arrow-a"></span></a></p>
			</div>
			<div class="section">
				<h4 class="hx">Links &amp; Resources</h4>
				<ul class="lx-a">
					<li><a href="./">What is a Smart Gigabit Community?</a></li>
					<li><a href="./">Application Form for SGC</a></li>
					<li><a href="./">Another Resource</a></li>
				</ul>
				<p class="action"><a href="./" class="button-a text">See More <span class="arrow-a"></span></a></p>
			</div>
			<div class="section gray">
				<h4 class="hx">Stay Informed</h4>
				<form action="./" method="post" class="signup-b validate">
					<div class="fields">
						<p><input type="text" name="ifn" id="f-ifn" required placeholder="First Name *" /></p>
						<p><input type="text" name="iln" id="f-iln" required placeholder="Last Name *" /></p>
						<p><input type="email" name="iea" id="f-iea" required placeholder="Email Address *" /></p>
						<p><input type="text" name="icn" id="f-icn" placeholder="Company/Organization" /></p>
						<p class="action"><button type="submit" class="button-a block">Sign Up</button></p>
					</div>
					<div class="thanks">
						<p>Thank you for signing up!</p>
					</div>
				</form>
			</div>
			<div class="section socials-a">
				<ul>
					<li><a target="_blank" href="https://www.facebook.com/USIgnite"><i class="fa fa-facebook-square"></i><span> Facebook</span></a></li>
					<li><a target="_blank" href="https://twitter.com/US_Ignite"><i class="fa fa-twitter-square"></i><span> Twitter</span></a></li>
					<li><a target="_blank" href="http://www.youtube.com/user/USIgnite1"><i class="fa fa-youtube-square"></i><span> Youtube</span></a></li>
					<li><a target="_blank" href="https://plus.google.com/115026873083967953743/posts"><i class="fa fa-google-plus-square"></i><span> Google+</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock content %}
{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}



{% block main %}
{% endblock %}
