{% extends BASE_TEMPLATE %}
{% load mezzanine_tags keyword_tags %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
<section class="content-a" id="content">

	<div class="hero-b">
		<!-- you can art direct image using <picture> here too if needed -->
		<figure class="bg-a"><img src="{{ STATIC_URL }}img/hero-b-bg-a.jpg?1280x200" alt="" /></figure>
		<div class="contain narrow">
			<h1 class="hx">{{ page.title }}</h1>
		</div>
	</div>

	<!--[if IE]><p class="browser-a">Your browser is outdated, it may not render this page properly, please <a href="http://browsehappy.com/" rel="external">upgrade</a>.</p><![endif]-->

	<div class="page-a contain">
		<div class="main">
			{{ page.richtextpage.content|safe }}
			
		</div>
		<div class="side sidebar-a hide show@large">
			<div class="section">
				<h4 class="hx">About</h4>
				{{ page.description|safe }}
			</div>
			<div class="section">
				<h4 class="hx">Latest News</h4>
				<ul class="lx-a">
                    {% if upcoming_event %}
					    <li><a href="{{ latest_news.get_absolute_url }}">{{ latest_news.title }}</a> <time>{{ latest_news.publish_date|date:"M d, Y" }}</time></li>
                    {% endif %}
                </ul>
				<p class="action"><a href="{% url 'news_post_list' %}" class="button-a text">See More <span class="arrow-a"></span></a></p>
			</div>
			<div class="section">
				<h4 class="hx">Upcoming Events</h4>
				<ul class="lx-a">
                    {% if upcoming_event %}
					<li><a href="{{ upcoming_event.get_absolute_url }} ">{{ upcoming_event.title }}</a>
					<time>{{ upcoming_event.event_date|date:"M d, Y" }}</time></li>
                    {% endif %}
				</ul>
				<p class="action"><a href="{% url 'news_post_list' %}" class="button-a text">See More <span class="arrow-a"></span></a></p>
			</div>
			<div class="section">
				<h4 class="hx">Links &amp; Resources</h4>
				<ul class="lx-a">
                {% for link in link_list %}
                    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                {% endfor %}
				</ul>
				<p class="action"><a href="./" class="button-a text">See More <span class="arrow-a"></span></a></p>
			</div>
			<div class="section gray">
				<h4 class="hx">Stay Informed</h4>
				<form action="{% url 'mailing_subscribe' %}" method="post" class="signup-b validate">
					<div class="fields">
						<p><input type="email" name="email" id="f-iea" required placeholder="Email Address *" /></p>
						<p class="action"><button type="submit" class="button-a block">Sign Up</button>{% csrf_token %}</p>
					</div>
					<div class="thanks">
						<p>Thank you for signing up!</p>
					</div>
				</form>
			</div>
			<div class="section socials-a">
				<ul>
					<li><a target="_blank" href="https://www.facebook.com/USIgnite"><i class="fa fa-facebook-square"></i><span> Facebook</span></a></li>
					<li><a target="_blank" href="https://twitter.com/US_Ignite"><i class="fa fa-twitter-square"></i><span> Twitter</span></a></li>
					<li><a target="_blank" href="http://www.youtube.com/user/USIgnite1"><i class="fa fa-youtube-square"></i><span> Youtube</span></a></li>
					<li><a target="_blank" href="https://plus.google.com/115026873083967953743/posts"><i class="fa fa-google-plus-square"></i><span> Google+</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock content %}
{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}



{% block main %}
{% endblock %}
