
$primary-color: #ee7422;

#messages {
	display: none;
}

.notification {
	display: none;
	position: fixed;
	z-index: 5;
	max-width: 200px;
	background-color: transparentize($primary-color, 0.2);
	color: #fff;
	padding: 10px;
	bottom: 15px;
	right: 15px;
}

header.top-a {
	background-color: transparentize(#000, 0.6);
}

.filters-a.full-width {
	label {
		width: 100% !important;
		margin: 0 !important;
	}

	p {
		width: 100% !important;
		margin: 0 !important;
		padding: 0;
	}

	input[type="number"], input[type="text"] {
		width: 100%;
		display: block;
	}

	button {
		margin-top: 15px;
	}
}

form {
	ul {
		list-style: none;
		padding-left: 0;
		li {
			&:before {
				display: none;
			}

			input[type="checkbox"] {
				margin-right: 5px;
			}
		}
	}
}

.list-a {
	article {
		border: 1px #e5e5e5 solid;
		padding: 20px;

		@media screen and (max-width: 1023px) {
			border-top: none;
			margin-bottom: 0;
			padding: 20px 30px;
		}

		h3 {
			font-size: 24px;
			margin-bottom: 15px;
			font-weight: bold;

			a {
				color: #282828;

				&:hover {
					color: lighten(#282828, 10%);
				}
			}
		}

		h6 {
			font-size: 13px;
			color: #636363;
			font-weight: 500;
			text-transform: initial;
		}

		p {
			margin-bottom: 20px;
			&.cat {
				font-size: 13px;
				color: #636363;
				font-weight: 500;
				text-transform: initial;
			}
		}

		>div {
			width: 66.66%;
			margin-bottom: 0 !important;
		}

		>figure {
			width: 33.33%;
			padding-left: 40px;

			@media screen and (max-width: 1023px) {
				padding-left: 0;
			}

			img {
				width: 100%;
			}
		}

		>div, >figure {
			float: right;

			@media screen and (max-width: 1023px) {
				float: none;
				width: 100%;
			}
		}

		&:after {
			clear: both;
			content:"";
			display: block;
			position: relative;
		}

		&.featured {
			figure, div {
				float: none;
				padding: 0;
				width: auto;

			}	
		}

		
	}
}

.editable-original {
	margin-bottom: 0 !important;
}

div.main {
	

	>.one {
		width: 66.66%;
	}

	>.two {
		width: 33.33%;
		padding-left: 80px;
		@media screen and (max-width: 1023px) {
			padding-left: 0;
		}
	}

	>.one, >.two {
		margin-left: 0;
		margin-right: 0;
		float: left;

		@media screen and (max-width: 1023px) {
			float: none;
			width: auto;
		}
	}

	&:after {
		clear: both;
		content:"";
		display: block;
		position: relative;
	}
}

body.blog {
	background-color: #fff;

	@media screen and (max-width: 1023px) {

		.paging-a {
			margin-top: 30px; 
			padding-bottom: 30px;
		}
	}
	.blog-list {
		.main {
			@media screen and (max-width: 1023px) {
				padding: 0 !important;
			}

			float: none !important;

			padding-left: 0 !important;
		}

		.page-a.contain {
			@media screen and (max-width: 1023px) {
				border: none;
			}
		}
	}

	.blog-detail {
		.post-title {
			font-size: 33px;
			line-height: 38px;
			margin-bottom: 15px;
			font-weight: bold;

			@media screen and (max-width: 1023px) {
				font-size: 24px;
			}

			a {
				color: #282828;

				&:hover {
					color: lighten(#282828, 10%);
				}
			}
		}

		.post-meta {
			font-size: 13px;
			color: #636363;
			font-weight: 500;
			text-transform: initial;
		}

		p {
			margin-bottom: 20px;
			&.cat {
				font-size: 13px;
				color: #636363;
				font-weight: 500;
				text-transform: initial;
				margin-top: 30px;
			}
		}
	}
}

.sidebar-b {
	.section {
		border-top: 1px solid #ccc;
		padding: 20px 0;

		h5 {
			color: #636363;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}

.root-a .contain.very-narrow {
    max-width: 850px;
}

.featured-c {
	list-style: none;
	padding-left: 0;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 50px !important;

	&:after {
		clear: both;
		content:"";
		display: block;
		position: relative;
	}

	>div {
		float: left;
		width: 33.33%;
		padding-left: 5px;
		padding-right: 5px;

		@media screen and (max-width: 1023px) {
			float: none;
			width: auto;

		}

		article {
			position: relative;
			-webkit-box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.44);
			-moz-box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.44);
			box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.44);
			
			-webkit-transition: box-shadow 0.3s , top 0.3s ;
			-moz-transition: box-shadow 0.3s, top 0.3s ; 
			transition: box-shadow 0.3s , top 0.3s ; 
			top: 0;
			&:hover {
				top: -10px;
				-webkit-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.44);
				-moz-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.44);
				box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.44);
			}
			figure {
				border-bottom: 1px solid #e5e5e5;
				margin-bottom: 0;
			}

			p {
				font-size: 13px;
				color: #636363;
				font-weight: 500;
				text-transform: initial;
				margin-bottom: 10px !important;
			}
			> div {
				padding: 15px 30px 30px 30px;
				h2 {
					font-size: 24px;
					a {
						color: #282828;

						&:hover {
							color: lighten(#282828, 10%);
						}
					}
				}
			}
		}
	}
}

.mapbox {
	#map {
		height: 100%;
	}
}

.dashboard {
	.page-a .main {

		padding: 30px 0 30px 360px; 

		@media screen and (max-width: 1279px) {
			padding-left: 310px; 
		}

		@media screen and (max-width: 1023px) {
			padding: 40px 0 20px 0; 
		}

		&:last-child { float: none; width: 100%; margin: 0; padding-left: 0; }

	}
	
}

ul {

	&.nobullet {
		list-style: none;
		padding-left: 0;

		li {
			&:before {
				display: none;
			}
		}
	}

	&.cat-list {
		margin-bottom: 30px !important;

		&:last-child {
			margin-bottom: 10px !important;
		}
	}
}

.featured-d {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 30px !important;

	&:after {
		clear: both;
		content:"";
		display: block;
		position: relative;
	}

	>div {
		float: left;
		width: 33.33%;
		padding-left: 10px;
		padding-right: 10px;

		@media screen and (max-width: 1023px) {
			float: none;
			width: auto;

		}
		article {
			figure {
				margin-bottom: 10px;

				img {
					width: 100%;
				}
			}

			h4 {
				margin-bottom: 0px;
			}

			>div {

			}
		}
	}
}

.stButton .stBubble_count {
	padding-top: 5px !important;
}

.sidebar-list-link {
	display: block;
	
	&:after {
		clear: both;
		content:"";
		display: block;
		position: relative;
	}

	>div {
		float: left;
		padding-left: 10px;
		padding-right: 10px;

		&.thumb {
			width: 20%;
		}

		&.text {
			width: 80%;
		}
	}
}

.hero-b.with-avatar {
	h1 {
		margin-top: 30px;
		>* {
			vertical-align: middle;
		}
	}
}

.app__stage {
  width: 20%;
  padding-top: 45px;
  background-position: top center;
  background-repeat: no-repeat;
  float: left;
}

.app__stage__label {
  font-size: rem-calc(11);
  display: block;
  text-align: center;
}

.app__stage--passed {
  background-image: url(/static/img/stage-full.png);
}

.app__stage--active {
  background-image: url(/static/img/stage-active.png);
}

.app__stage--inactive {
  background-image: url(/static/img/stage-innactive.png);
}

.app__stage__label {
	font-size: 0.6875rem;
	display: block;
	text-align: center;
}

@media screen and (min-width: 1024px) {

	.top-a .nav li ul {
		padding: 0;
	}

	.top-a .nav .dropdown li {

		border-bottom: transparentize(#fff, 0.7) solid 1px;
		padding: 15px ;
		&:last-child {
			border-bottom: 0;
		}
	}
}

@media screen and (max-width: 1023px) {
	.paging-a {
		margin-top: 30px; 
	}
}

.stButton .stBubble {
	display: none !important;
}