{% extends "includes/lists/object_list_base.html" %}

{% block page_title %}Search Results for "{{ query }}"{% endblock page_title %}

<div id="search-results">

{% block object_table %}

{% for result in results.object_list_top %}
    {% with result.get_absolute_url as result_url %}
        <h5>
        {{ forloop.counter0|add:results.start_index }})
        {% if result_url %}
            <a href="{{ result_url }}">{{ result }}</a>
        {% else %}
            {{ result }}
        {% endif %}
    </h5>
    {% if result.description != result|stringformat:"s" %}
        <p>{{ result.description|truncatewords_html:20|safe }}</p>
    {% endif %}
    {% endwith %}
{% endfor %}
</div>
{% endblock object_table %}
{% block tags %}
{% endblock tags %}

{% block add_to_list %}
{% endblock add_to_list %}