{% extends BASE_TEMPLATE %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags thumbnail %}

{% block body_class %}blog{% endblock body_class %}
{% block title %}News{% endblock title %}

{% block content %}

<section class="content-a blog-list" id="content">

    <div class="hero-b">
        <!-- you can art direct image using <picture> here too if needed -->
        <figure class="bg-a"><img src="{{ STATIC_URL }}img/hero-b-bg-a.jpg?1280x200" alt="" /></figure>
        <div class="contain narrow">
            <h1 class="hx">News</h1>
        </div>
    </div>

    <div class="page-a contain ">
        <div class="main">
            <div class="one list-a">
                {% if featured_list %}
                    {% for blog_post in featured_list %}
                        <article class="featured">
                            <figure>
                                {% if blog_post.image %}
                                <a href="{{ blog_post.get_absolute_url }}">
                                {% thumbnail blog_post.image "700x295" crop="center" as im %}
                                    <img class="img-thumbnail " src="{{ im.url }}">
                                {% endthumbnail %}
                                </a>
                                {% endif %}
                            </figure>
                            <div>
                                <h3>
                                    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                                </h3>

                                <h6 class="post-meta">
                                    {% trans "by" %}
                                    {% with blog_post.user as author %}
                                   {{ author.get_full_name|default:author.username }}
                                    {% endwith %}
                                    &nbsp;&nbsp;{{ blog_post.publish_date|date:"F d, Y" }}
                                </h6>

                                <p>{{ blog_post.description }}</p>

                                {% if blog_post.categories.all %}
                                    <p class="cat">
                                    {% trans "Categories" %}:
                                    {% with blog_post.categories.all as categories %}
                                    {% for category in blog_post.categories.all %}
                                    <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    {% endwith %}
                                    </p>
                                {% endif %}
                            </div>
                        </article>
                    {% endfor%}
                {% endif %}

                {% for blog_post in blog_posts.object_list %}
                    <article>
                        <figure>
                            {% if blog_post.image %}
                            <a href="{{ blog_post.get_absolute_url }}">
                                {% thumbnail blog_post.image "1000x1000" crop="center" as im %}
                                    <img class="img-thumbnail " src="{{ im.url }}">
                                {% endthumbnail %}

                            </a>
                            {% endif %}
                        </figure>
                        <div>
                            <h3>
                                <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                            </h3>

                            <h6 class="post-meta">
                                {% trans "by" %}
                                {% with blog_post.user as author %}
                               {{ author.get_full_name|default:author.username }}
                                {% endwith %}
                                {{ blog_post.publish_date|date:"F d, Y" }}
                            </h6>

                            <p>{{ blog_post.description }}</p>

                            {% if blog_post.categories.all %}
                                <p class="cat">
                                {% trans "Categories" %}:
                                {% with blog_post.categories.all as categories %}
                                {% for category in categories %}
                                <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endwith %}
                                </p>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            </div>
            <div class="two">
                <div class="sidebar-b hide@medium hide@small">
                    {% comment %}
                    <div class="section ">
                    {% for title_key, title_val in sidebar_lists.items %}
                        <h4 class="hx">{{ title_key }}</h4>
                        <ul class="cat-list">
                        {% for slv in title_val %}
                            {{ title_Key }}
                            {% if title_key == 'categories' %}
                            <li><a href="{% url "news_post_list_category" slv.slug %}">{{ slv }}</a></li>
                            {% elif title_key == 'programs' %}
                            <li><a href="{% url "news_post_list_program" slv.slug %}">{{ slv }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endfor %}
                    </div>
                    {% endcomment %}
                    <div class="section ">
                        <h4 class="hx">Stay Informed</h4>
                        <p>Stay up to date with the latest in the futue of the Internet. Sign up for updates today.</p>
                        <form action="./" method="post" class="signup-b validate">
                            <div class="fields">
                                <p><input type="text" name="ifn" id="f-ifn" required placeholder="First Name *" /></p>
                                <p><input type="text" name="iln" id="f-iln" required placeholder="Last Name *" /></p>
                                <p><input type="email" name="iea" id="f-iea" required placeholder="Email Address *" /></p>
                                <p><input type="text" name="icn" id="f-icn" placeholder="Company/Organization" /></p>
                                <p class="action"><button type="submit" class="button-a block">Sign Up</button></p>
                            </div>
                            <div class="thanks">
                                <p>Thank you for signing up!</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% pagination_for blog_posts %}
        </div>

        
    </div>
</section>
{% endblock content %}

{% comment %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Blog" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

{% if tag or category or year or month or author %}
    {% block blog_post_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing posts tagged" %} {{ tag }}
    {% else %}{% if category %}
        {% trans "Viewing posts for the category" %} {{ category }}
    {% else %}{% if year or month %}
        {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% else %}{% if author %}
        {% trans "Viewing posts by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block blog_post_list_pagecontent %}
    {% if page.get_content_model.content %}
        {% editable page.get_content_model.content %}
        {{ page.get_content_model.content|richtext_filters|safe }}
        {% endeditable %}
    {% endif %}
    {% endblock %}
    {% endif %}
{% endif %}

{% for blog_post in blog_posts.object_list %}
{% block blog_post_list_post_title %}
{% editable blog_post.title %}
<h2>
    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
</h2>
{% endeditable %}
{% endblock %}
{% block blog_post_list_post_metainfo %}
{% editable blog_post.publish_date %}
<h6 class="post-meta">
    {% trans "Posted by" %}:
    {% with blog_post.user as author %}
    <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% with blog_post.categories.all as categories %}
    {% if categories %}
    {% trans "in" %}
    {% for category in categories %}
    <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}

{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
{% block blog_post_list_post_featured_image %}
<a href="{{ blog_post.get_absolute_url }}">
    <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 90 90 %}">
</a>
{% endblock %}
{% endif %}

{% block blog_post_list_post_content %}
{% editable blog_post.content %}
{{ blog_post.description_from_content|safe }}
{% endeditable %}
{% endblock %}

{% block blog_post_list_post_links %}
<div class="blog-list-detail">
    {% keywords_for blog_post as tags %}
    {% if tags %}
    <ul class="list-inline tags">
    {% trans "Tags" %}:
    {% spaceless %}
    {% for tag in tags %}
    <li><a href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a>{% if not forloop.last %}, {% endif %}</li>
    {% endfor %}
    {% endspaceless %}
    </ul>
    {% endif %}
    <p>
    <a href="{{ blog_post.get_absolute_url }}">{% trans "read more" %}</a>
    {% if blog_post.allow_comments %}
    /
    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
    <a href="{{ blog_post.get_absolute_url }}#disqus_thread"
        data-disqus-identifier="{% disqus_id_for blog_post %}">
        {% trans "Comments" %}
    </a>
    {% else %}
    <a href="{{ blog_post.get_absolute_url }}#comments">
        {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
    </a>
    {% endif %}
    {% endif %}
    </p>
</div>
{% endblock %}
{% endfor %}

{% pagination_for blog_posts %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}

{% endblock %}
{% endcomment %}