/* line 4, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
#messages {
  display: none; }

/* line 8, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.notification {
  display: none;
  position: fixed;
  z-index: 5;
  max-width: 200px;
  background-color: rgba(238, 116, 34, 0.8);
  color: #fff;
  padding: 10px;
  bottom: 15px;
  right: 15px; }

/* line 20, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
header.top-a {
  background-color: rgba(0, 0, 0, 0.4); }

/* line 25, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.filters-a.full-width label {
  width: 100% !important;
  margin: 0 !important; }

/* line 30, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.filters-a.full-width p {
  width: 100% !important;
  margin: 0 !important;
  padding: 0; }

/* line 36, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.filters-a.full-width input[type="number"], .filters-a.full-width input[type="text"] {
  width: 100%;
  display: block; }

/* line 41, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.filters-a.full-width button {
  margin-top: 15px; }

/* line 47, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
form ul {
  list-style: none;
  padding-left: 0; }
  /* line 51, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  form ul li:before {
    display: none; }
  /* line 55, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  form ul li input[type="checkbox"] {
    margin-right: 5px; }

/* line 63, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.list-a article {
  border: 1px #e5e5e5 solid;
  padding: 20px; }
  @media screen and (max-width: 1023px) {
    /* line 63, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .list-a article {
      border-top: none;
      margin-bottom: 0;
      padding: 20px 30px; } }
  /* line 73, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .list-a article h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold; }
    /* line 78, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .list-a article h3 a {
      color: #282828; }
      /* line 81, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      .list-a article h3 a:hover {
        color: #424242; }
  /* line 87, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .list-a article h6 {
    font-size: 13px;
    color: #636363;
    font-weight: 500;
    text-transform: initial; }
  /* line 94, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .list-a article p {
    margin-bottom: 20px; }
    /* line 96, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .list-a article p.cat {
      font-size: 13px;
      color: #636363;
      font-weight: 500;
      text-transform: initial; }
  /* line 104, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .list-a article > div {
    width: 66.66%;
    margin-bottom: 0 !important; }
  /* line 109, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .list-a article > figure {
    width: 33.33%;
    padding-left: 40px; }
    @media screen and (max-width: 1023px) {
      /* line 109, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      .list-a article > figure {
        padding-left: 0; } }
    /* line 117, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .list-a article > figure img {
      width: 100%; }
  /* line 122, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .list-a article > div, .list-a article > figure {
    float: right; }
    @media screen and (max-width: 1023px) {
      /* line 122, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      .list-a article > div, .list-a article > figure {
        float: none;
        width: 100%; } }
  /* line 131, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .list-a article:after {
    clear: both;
    content: "";
    display: block;
    position: relative; }
  /* line 139, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .list-a article.featured figure, .list-a article.featured div {
    float: none;
    padding: 0;
    width: auto; }

/* line 151, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.editable-original {
  margin-bottom: 0 !important; }

/* line 158, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
div.main > .one {
  width: 66.66%; }

/* line 162, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
div.main > .two {
  width: 33.33%;
  padding-left: 80px; }
  @media screen and (max-width: 1023px) {
    /* line 162, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    div.main > .two {
      padding-left: 0; } }

/* line 170, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
div.main > .one, div.main > .two {
  margin-left: 0;
  margin-right: 0;
  float: left; }
  @media screen and (max-width: 1023px) {
    /* line 170, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    div.main > .one, div.main > .two {
      float: none;
      width: auto; } }

/* line 181, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
div.main:after {
  clear: both;
  content: "";
  display: block;
  position: relative; }

/* line 189, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
body.blog {
  background-color: #fff; }
  @media screen and (max-width: 1023px) {
    /* line 193, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    body.blog .blog-list .main {
      padding: 0 !important; } }
  @media screen and (max-width: 1023px) {
    /* line 199, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    body.blog .blog-list .page-a.contain {
      border: none; } }
  /* line 207, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  body.blog .blog-detail .post-title {
    font-size: 33px;
    line-height: 38px;
    margin-bottom: 15px;
    font-weight: bold; }
    @media screen and (max-width: 1023px) {
      /* line 207, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      body.blog .blog-detail .post-title {
        font-size: 24px; } }
    /* line 217, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    body.blog .blog-detail .post-title a {
      color: #282828; }
      /* line 220, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      body.blog .blog-detail .post-title a:hover {
        color: #424242; }
  /* line 226, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  body.blog .blog-detail .post-meta {
    font-size: 13px;
    color: #636363;
    font-weight: 500;
    text-transform: initial; }
  /* line 233, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  body.blog .blog-detail p {
    margin-bottom: 20px; }
    /* line 235, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    body.blog .blog-detail p.cat {
      font-size: 13px;
      color: #636363;
      font-weight: 500;
      text-transform: initial;
      margin-top: 30px; }

/* line 247, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.sidebar-b .section {
  border-top: 1px solid #ccc;
  padding: 20px 0; }
  /* line 251, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .sidebar-b .section h5 {
    color: #636363;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }

/* line 260, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.root-a .contain.very-narrow {
  max-width: 850px; }

/* line 264, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.featured-c {
  list-style: none;
  padding-left: 0;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 50px !important; }
  /* line 271, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .featured-c:after {
    clear: both;
    content: "";
    display: block;
    position: relative; }
  /* line 278, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .featured-c > div {
    float: left;
    width: 33.33%;
    padding-left: 5px;
    padding-right: 5px; }
    @media screen and (max-width: 1023px) {
      /* line 278, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      .featured-c > div {
        float: none;
        width: auto; } }
    /* line 290, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .featured-c > div article {
      position: relative;
      -webkit-box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.44);
      -moz-box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.44);
      box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.44);
      -webkit-transition: box-shadow 0.3s , top 0.3s;
      -moz-transition: box-shadow 0.3s, top 0.3s;
      transition: box-shadow 0.3s , top 0.3s;
      top: 0; }
      /* line 300, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      .featured-c > div article:hover {
        top: -10px;
        -webkit-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.44);
        box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.44); }
      /* line 306, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      .featured-c > div article figure {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 0; }
      /* line 311, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      .featured-c > div article p {
        font-size: 13px;
        color: #636363;
        font-weight: 500;
        text-transform: initial;
        margin-bottom: 10px !important; }
      /* line 318, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      .featured-c > div article > div {
        padding: 15px 30px 30px 30px; }
        /* line 320, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
        .featured-c > div article > div h2 {
          font-size: 24px; }
          /* line 322, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
          .featured-c > div article > div h2 a {
            color: #282828; }
            /* line 325, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
            .featured-c > div article > div h2 a:hover {
              color: #424242; }

/* line 336, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.mapbox #map {
  height: 100%; }

/* line 342, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.dashboard .page-a .main {
  padding: 30px 0 30px 360px; }
  @media screen and (max-width: 1279px) {
    /* line 342, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .dashboard .page-a .main {
      padding-left: 310px; } }
  @media screen and (max-width: 1023px) {
    /* line 342, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .dashboard .page-a .main {
      padding: 40px 0 20px 0; } }
  /* line 354, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .dashboard .page-a .main:last-child {
    float: none;
    width: 100%;
    margin: 0;
    padding-left: 0; }

/* line 362, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
ul.nobullet {
  list-style: none;
  padding-left: 0; }
  /* line 367, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  ul.nobullet li:before {
    display: none; }

/* line 373, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
ul.cat-list {
  margin-bottom: 30px !important; }
  /* line 376, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  ul.cat-list:last-child {
    margin-bottom: 10px !important; }

/* line 382, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.featured-d {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 30px !important; }
  /* line 387, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .featured-d:after {
    clear: both;
    content: "";
    display: block;
    position: relative; }
  /* line 394, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .featured-d > div {
    float: left;
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px; }
    @media screen and (max-width: 1023px) {
      /* line 394, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      .featured-d > div {
        float: none;
        width: auto; } }
    /* line 406, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .featured-d > div article figure {
      margin-bottom: 10px; }
      /* line 409, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
      .featured-d > div article figure img {
        width: 100%; }
    /* line 414, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .featured-d > div article h4 {
      margin-bottom: 0px; }

/* line 425, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.stButton .stBubble_count {
  padding-top: 5px !important; }

/* line 429, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.sidebar-list-link {
  display: block; }
  /* line 432, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .sidebar-list-link:after {
    clear: both;
    content: "";
    display: block;
    position: relative; }
  /* line 439, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .sidebar-list-link > div {
    float: left;
    padding-left: 10px;
    padding-right: 10px; }
    /* line 444, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .sidebar-list-link > div.thumb {
      width: 20%; }
    /* line 448, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
    .sidebar-list-link > div.text {
      width: 80%; }

/* line 455, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.hero-b.with-avatar h1 {
  margin-top: 30px; }
  /* line 457, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
  .hero-b.with-avatar h1 > * {
    vertical-align: middle; }

/* line 463, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.app__stage {
  width: 20%;
  padding-top: 45px;
  background-position: top center;
  background-repeat: no-repeat;
  float: left; }

/* line 471, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.app__stage__label {
  font-size: rem-calc(11);
  display: block;
  text-align: center; }

/* line 477, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.app__stage--passed {
  background-image: url(/static/img/stage-full.png); }

/* line 481, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.app__stage--active {
  background-image: url(/static/img/stage-active.png); }

/* line 485, /Users/gholme4/Documents/us-ignite-new/assets/scss/app.scss */
.app__stage--innactive {
  background-image: url(/static/img/stage-innactive.png); }
