{% extends "registration/base.html" %}

{% block title %}Change Password - {{ block.super }}{% endblock title %}

{% block page_title %}
Change Password
{% endblock page_title %}

{% block section %}

<div class="fields-a">
	<form method="post" action="." class="validate">
		{% for field in form %}
			<p class="label">
				{{ field.label_tag }}
				<small>{{ field.help_text|safe }}</small>
			</p>
			<p class="fields">
	 			{{ field }}
	 		</p>

	 		{% if field.errors %}
				<p>{{ field.errors }}</p>
			{% endif %}
		{% endfor %}
	  <p class="action"><button type="submit">CHANGE</button>{% csrf_token %}</p>
	</form>
</div>

{% endblock section %}
