{% extends "registration/base.html" %}

{% block title %}Reset Password - {{ block.super }}{% endblock title %}

{% block page_title %}
Reset Password
{% endblock page_title %}

{% block section %}
<h3>
Forgot your password? No problem. We can fix that.
</h3>
<br>
<div class="fields-a">
	<form method="post" action="{% url 'password_reset' %}" class="validate">
		<p class="label">
			{% if form.email.errors %}{{ form.email.errors }}{% endif %}
			<label for="email" class="label">Enter your email:</label>
		</p>
		<p class="fields">
			{{ form.email }}
		</p>
		<p>
			We will send an email to the email address.
		</p>
		<p>
			Once you receive the email, click on the URL in the email. You will go to a webpage to create a new password.
		</p>
		<p class="action"><button type="submit">SEND</button></p>
		{% csrf_token %}
	</form>
</div>

{% endblock section %}
