{% extends "registration/base.html" %}

{% block title %}Password reset - {{ block.super }}{% endblock title %}

{% block page_title %}
Reset Password
{% endblock page_title %}

{% block section %}
{% if validlink %}

<h3>Enter new password:</h3>
<br>
<div class="fields-a">
	<form method="post" action="." class="validate">
		{% for field in form %}
			<p class="label">
				{{ field.label_tag }}
				<small>{{ field.help_text|safe }}</small>
			</p>
			<p class="fields">
	 			{{ field }}
	 		</p>

	 		{% if field.errors %}
				<p>{{ field.errors }}</p>
			{% endif %}
		{% endfor %}
		<p class="action">
			<button type="submit">Change</button>
			{% csrf_token %}
		</p>
	</form>
</div>
{% else %}
<h3>Password reset unsuccessful</h3>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}

{% endblock section %}
