{% extends "registration/base.html" %}

{% block title %}Registration - {{ block.super }}{% endblock title %}

{% block extra_styles %}
{% endblock extra_styles %}

{% block page_title %}
Registration
{% endblock page_title %}

{% block section %}
<h3>Create an account:</h3>
<br>
<div class="fields-a">
	<form method="post" action="." class=" validate">
		{% for field in form %}
			<p class="label">
				{{ field.label_tag }}
				<small>{{ field.help_text|safe }}</small>
			</p>
			<p class="fields">
	 			{{ field }}
	 		</p>

	 		{% if field.errors %}
				<p>{{ field.errors }}</p>
			{% endif %}
		{% endfor %}
		<p class="action">
			{% csrf_token %}
			<button type="submit">REGISTER</button>
		</p>
	</form>
</div>
{% endblock section %}

{% block extra_scripts %}
{% endblock extra_scripts %}

