{% extends BASE_TEMPLATE %}
{% load mezzanine_tags apps_urls thumbnail common_markdown snippets_tags i18n keyword_tags rating_tags i18n disqus_tags news_tags %}

{% block title %}Dashboard - {{ block.super }}{% endblock title %}

{% block body_class %}dashboard{% endblock body_class %}
{% block content %}

<section class="content-a" id="content">

	<div class="hero-b with-avatar">
		<!-- you can art direct image using <picture> here too if needed -->
		<figure class="bg-a"><img src="{{ STATIC_URL }}img/hero-b-bg-a.jpg?1280x200" alt="" /></figure>
		<div class="contain narrow">
			<h1 class="hx">
			{% if object.avatar  %}
				<img class="avatar" src="{% thumbnail object.avatar 330x330 crop %}" alt="" />
			{% else %}
				<img class="avatar" src="{{ object.get_gravatar_url }}" alt="Avatar" height="80" width="80" class="profile__avatar" />
			{% endif %}
			&nbsp;&nbsp;
			{% block page_title %}
			<span>
				Welcome, 
				{% if object.first_name %}
					 {{ object.first_name }} {{ object.last_name }}
				{% else %}
					{{ object.username }}
				{% endif %}
			</span> <br>
			{% snippet "profile-welcome" "snippets/profile_welcome.html" %}
			{% endblock page_title %}
			</h1>
		</div>
	</div>

	<!--[if IE]><p class="browser-a">Your browser is outdated, it may not render this page properly, please <a href="http://browsehappy.com/" rel="external">upgrade</a>.</p><![endif]-->

	<div class="page-a contain narrow">
		<div class="main">
			<article>
				
				<p>
				
        Greetings from US Ignite! This is your personal dashboard with the latest information and news from US Ignite as well as links to manage your content. So take a look around, update your profile and share something with the community! If you have feedback on our new site, send it to info@us-ignite.org - US Ignite Team

      
				<br><br>
				</p>

			</article>
		</div>

	</div>

	<!-- APPS -->
	{% include "people/includes/app_list.html" with object_list=application_list similar_list=similar_applications %}
	<!-- /APP -->

	<!-- PROGRAM -->
	{% include "people/includes/program_list.html" with object_list=program_app_list similar_list=similar_programs %}
	<!-- /PROGRAM -->

	<!-- NEWS -->
	{% include "people/includes/post_list.html" with object_list=post_list %}
	<!-- /NEWS -->

	<!-- EVENTS -->
	{% include "people/includes/event_list.html" with object_list=hub_event_list %}
	<!-- /EVENTS -->

	<!-- COMMUNITIES -->
	{% include "people/includes/hub_list.html" with object_list=hub_list %}
	<!-- /COMMUNITIES -->

	<!-- RESOURCES -->
	{% include "people/includes/resource_list.html" with object_list=featured_resource_list %}
	<!-- /RESOURCES -->

	{% include "people/includes/content_list.html" with object_list=content_list %}
</section>
{% endblock content %}
