{% extends "base.html" %}{% load apps_urls thumbnail snippets_tags news_tags common_markdown %}

{% block title %}Profile for {{ object.full_name }} - {{ block.super }}{% endblock title %}

{% block body_class %}profile{% endblock body_class %}
{% block content %}

<section class="content-a" id="content">

	<div class="hero-b with-avatar">
		<!-- you can art direct image using <picture> here too if needed -->
		<figure class="bg-a"><img src="{{ STATIC_URL }}img/hero-b-bg-a.jpg?1280x200" alt="" /></figure>
		<div class="contain narrow">
			
			<h1 class="hx">
			{% if object.avatar  %}
				<img class="avatar" src="{% thumbnail object.avatar 330x330 crop %}" alt="" />
			{% else %}
				<img class="avatar" src="{{ object.get_gravatar_url }}" alt="Avatar" height="80" width="80" class="profile__avatar" />
			{% endif %}
			&nbsp;&nbsp;
			{% block page_title %}
			<span>
				{% if object.first_name %}
					 {{ object.first_name }} {{ object.last_name }}
				{% else %}
					{{ object.username }}
				{% endif %}
			</span> <br>
			{% snippet "profile-welcome" "snippets/profile_welcome.html" %}
			{% endblock page_title %}
			</h1>
		</div>
	</div>

	<!--[if IE]><p class="browser-a">Your browser is outdated, it may not render this page properly, please <a href="http://browsehappy.com/" rel="external">upgrade</a>.</p><![endif]-->

	<div class="page-a contain">
		<div class="main">
			{% include "includes/tag_list.html" with tag_list=object.tags.all %}

			<div>
				<blockquote class="profile__quote">{{ object.quote }} </blockquote>
			</div>

			<!-- ABOUT -->
			<h4 class="hx">ABOUT</h4>
			<p>{{ object.bio }}</p>
			<!-- /ABOUT -->

			<!-- AVAILABILITY -->
			<h4 class="hx">CURRENT AVAILABILITY TO JOIN A PROJECT</h4>
			<p>{{ object.get_availability_display }}.</p>
			<!-- /AVAILABILITY -->

			<!-- APPLICATIONS -->
			{% if application_list %}
				<h4 class="hx">APPLICATIONS I MANAGE</h4>
					 
				<div class="featured-d">
				{% for app in application_list %}
					{% include "includes/lists/object_block_dashboard_base.html" with object=app %}
					{% if forloop.counter|divisibleby:3 %}
				</div>
				<div class="featured-d">
					{% endif %}
				{% endfor%}
				</div>
				
			{% endif %}
			<!-- /APPLICATIONS -->

			<!-- ACTIONCLUSTERS -->
			{% if actioncluster_list %}
			
				<h4 class="hx">ACTION CLUSTERS I MANAGE</h4>

				<div class="featured-d">
				{% for actioncluster in actioncluster_list %}
					{% include "includes/lists/object_block_dashboard_base.html" with object=actioncluster %}
					{% if forloop.counter|divisibleby:3 %}
				</div>
				<div class="featured-d">
					{% endif %}
				{% endfor%}
				</div>
					
			{% endif %}
			<!-- /ACTIONCLUSTERS -->

			<!-- EVENTS -->
			{% if event_list %}
			
				<h4 class="hx">EVENTS I MANAGE</h4>

				<div class="featured-d">
				{% for event in event_list %}
					{% include "includes/lists/object_block_dashboard_base.html" with object=event %}
					{% if forloop.counter|divisibleby:3 %}
				</div>
				<div class="featured-d">
					{% endif %}
				{% endfor%}
				</div>
					
			{% endif %}
			<!-- /EVENTS -->

			<!-- RESOURCES -->
			{% if resource_list %}
			
				<h4 class="hx">RESOURCES I MANAGE</h4>

				<div class="featured-d">
				{% for resource in resource_list %}
					{% include "includes/lists/object_block_dashboard_base.html" with object=resource %}
					{% if forloop.counter|divisibleby:3 %}
				</div>
				<div class="featured-d">
					{% endif %}
				{% endfor%}
				</div>
				
			{% endif %}
			<!-- /RESOURCES -->

			<!-- COMMUNITIES -->
			{% if hub_list %}
				<h4 class="hx">COMMUNITIES / ACTION CLUSTERS I MANAGE</h4>

				<div class="featured-d">
				{% for hub in hub_list %}
					{% include "includes/lists/object_block_dashboard_base.html" with object=hub %}
					{% if forloop.counter|divisibleby:3 %}
				</div>
				<div class="featured-d">
					{% endif %}
				{% endfor%}
				</div>

			{% endif %}
			<!-- /COMMUNITIES -->

		</div>
		<div class="side sidebar-a hide show@large">
			

			{% block sidebar %}

			{% include "includes/awards.html" with award_list=award_list %}

			<div class="section">
				<h4 class="hx">CONTACT</h4>

				<ul class="sidebar__list sidebar__list--bullets">
					{% if object.full_name %}
					<li class="sidebar__list__item">{{ object.full_name }}</li>
					{% endif %}
					<li class="sidebar__list__item"><a href="{{ object.get_contact_url }}">Contact me</a></li>
					{% if object.website %}
					<li class="sidebar__list__item"><a href="{{ object.website }}" rel="external">Website</a></li>
					{% endif %}
					{% if request.user == object.user %}
					<li class="sidebar__list__item"><a href="{% url 'user_profile' %}">Edit user profile</a></li>
					{% endif %}
				</ul>

			</div>

			{% with object.profilelink_set.all as link_list %}
			{% if link_list %}
			<div class="section">
				<h4 class="hx">Other URLS:</h4>
				<ul class="sidebar__list sidebar__list--bullets">
					{% for link in link_list %}
					<li class="sidebar__list__item"><a href="{{ link.url }}" rel="external">{{ link.name }}</a></li>
					{% endfor%}
				</ul>
			</div>
			{% endif %}
			{% endwith %}


			{% if organization_list %}
			<div class="section">
				<h4 class="hx">Organizations</h4>
				<ul class="sidebar__list sidebar__list--bullets">
					{% for organization in organization_list %}
					<li class="sidebar__list__item"><a href="{{ organization.organization.get_absolute_url }}">{{ organization.organization.name }}</a></li>
					{% endfor%}
				</ul>
			</div>
			{% endif %}

			{% if hub_list %}
			<div class="section">
				<h4 class="hx">Ignite Communities</h4>
				<ul class="sidebar__list sidebar__list--bullets">
					{% for hub in hub_list %}
					<li class="sidebar__list__item"><a href="{{ hub.get_absolute_url }}">{{ hub.name }}</a></li>
					{% endfor%}
				</ul>
			</div>
			{% endif %}

			{% if hub_request_list %}
			<div class="section">
				<h4 class="hx">Ignite Community Requests</h4>
				<ul class="sidebar__list sidebar__list--bullets">
					{% for hub_request in hub_request_list %}
					<li class="sidebar__list__item">{{ hub_request }}</li>
					{% endfor%}
				</ul>
			</div>
			{% endif %}

			<div class="section">
				<p><a class="button-a" href="{{ object.get_contact_url }}">CONTACT MEMBER</a></p>
			</div>

			{% snippet "globalcityteams-sidebar" "globalcityteams/snippets/sidebar.html" %}

			{% endblock sidebar %}
		</div>
	</div>
</section>

{% endblock content %}
