{% extends "includes/lists/object_detail_base.html" %}
{% load apps_urls common_markdown snippets_tags %}

{% block title %}Application: {{ object.name }} - {{ block.super }}{% endblock title %}


{% block page_title %}
	<span class="domains__icon--{{ domain.slug }}"></span>
	{{ object.name }} {% if object.is_draft %}(Draft){% endif %}
{% endblock page_title %}

{% block tag_list %}
	{% include "includes/tag_list.html" with tag_type="search_apps" tag_list=object.tags.all %}
{% endblock tag_list %}


{% block detail_content %}
	<!-- Stage -->
	<h2>Project milestone</h2>
	<p class="app__stage__title">{{ object.get_stage_display }}</p>
	<div class="">
		{% for stage_label, stage_class in object.get_stage_list %}
		<div class="app__stage app__stage--{{ stage_class }}">
			<span class="app__stage__label">{{ stage_label }}</span>
		</div>
		{% endfor%}
	</div>
	<!-- /Stage -->

	<!-- Impact statement -->
	{% if object.impact_statement %}
	<h2>Impact statement</h2>
	<p>
		{{ object.impact_statement|linebreaksbr }}
	</p>
	{% endif %}
	<!-- /Impact statement -->

	<!-- Category -->
	{% if object.domain %}
	<div class="domains">
		<h5>CATEGORY</h5>
		
		<ul class="inline-list">
			<li><a href="{{ object.get_domain_url }}" class="domains__link domains__link--active"><span class="domains__icon--{{ domain.slug }}"></span> {{ object.domain.name }}</a></li>
		</ul>
	</div>
	{% endif %}

	{% include "includes/network_features.html" with feature_list=feature_list %}
	<!-- /Category -->


	<!-- Extras -->
	{% if object.acknowledgments %}
	<h2>Acknowledgements</h2>
	<p>{{ object.acknowledgments|linebreaksbr }}</p>
	{% endif %}

	{% include "includes/hubs.html"  with hub_list=hub_list%}
	<!-- /Extras -->

	

{% endblock detail_content %}


{% block sidebar_content %}
	{% if can_edit or is_owner %}
		<div class="section">
			<!-- app admin -->
			<h4 class="hx">APP ADMIN</h4>
			<ul class="no-bullet sidebar__list">
				{% if can_edit %}
				<li class="sidebar__list__item">
					<a href="{{ object.get_edit_url }}" class="sidebar__list__link row collapse">Edit applicaton</a>
				</li>
				{% endif %}
				{% if is_owner %}
				<li class="sidebar__list__item">
					<a href="{{ object.get_membership_url }}" class="sidebar__list__link row collapse">Edit team members</a>
				</li>
				<li class="sidebar__list__item">
					<a href="{{ object.get_hub_membership_url }}" class="sidebar__list__link row collapse">Edit communities membership</a>
				</li>
				<li class="sidebar__list__item">
					<a href="{{ object.get_export_url }}" class="sidebar__list__link row collapse">Export application data</a>
				</li>
				{% endif %}
			</ul>
			<!-- /app admin -->
		</div>
	{% endif %}

	{% include "includes/awards.html" with award_list=award_list %}

	{% if object.team_name %}
		<div class="section">
			<h4 class="hx">TEAM NAME</h4>
			<p>{{ object.team_name }}</p>
		</div>
	{% endif %}


	{% include "includes/sidebar/contact.html" with contact=object.owner %}

	{% if member_list %}
		<div class="section">
			<h4 class="hx">TEAM</h4>
			<ul class="no-bullet sidebar__list">
				{% for member in member_list %}
				<li class="sidebar__list__item">
					{% include "includes/display_name_with_avatar.html" with user=member %}
				</li>
				{% endfor%}
			</ul>
		</div>
	{% endif %}

	{% if object.team_description %}
		<div class="section">
			<h4 class="hx">ABOUT THE TEAM</h4>
			<p class="sidebar__copy">{{ object.team_description|markdown }}</p>
		</div>
	{% endif %}

	{% if object.assistance %}
		<div class="section">
			<h4 class="hx">WE'RE LOOKING FOR</h4>
			<p class="sidebar__copy">{{ object.assistance|linebreaksbr }}</p>
		</div>
	{% endif %}

	{% include "includes/links.html" with object=object url_list=url_list %}

	{# Make sure the app has an owner that can be contacted #}
	{% if object.owner %}
		<div class="section">
			<p><a class="button-a" href="{{ object.owner.profile.get_contact_url }}">CONTACT TO LEARN MORE</a></p>
		</div>
	{% endif %}

{% endblock sidebar_content %}

{% block related_objects %}
	
	{% include "includes/related_objects.html" with related_title="Related Apps" related_list=related_list %}
{% endblock related_objects %}
