{% extends BASE_TEMPLATE %}
{% load thumbnail %}
{% load smart_communities_tags %}

{% block content %}
{% comment %}
<h2>LATEST NEWS</h2>
<p>{{ latest_news.title }}</p>

<h2>UPCOMING EVENTS</h2>
<p>{{ upcoming_event.name }}</p>
<p>{{ upcoming_event.start_datetime }}</p>


<h2>COUNTS:</h2>
<h3>APPS: {{ app_count }}</h3>
<h3>HUBS: {{ hub_count }}</h3>
<h3>FUNDERS: {{ funder_count }}</h3>
<h3>TESTBEDS: {{ testbed_count }}</h3>

<h2>FEATURED APP LIST</h2>
{#{% for sector in sector_list %}#}
{#    <h3>{{ sector.name }}</h3>#}
{#    {% for feature in featured_app_list %}#}
{#        {% if feature.sector == sector %}#}
{#            {{ feature.name }}#}
{#        {% endif %}#}
{#    {%  endfor %}#}
{#{% endfor %}#}

{% for sector in sector_list %}
    <h3>{{ sector.name }}</h3>
    {% for app in sector|val_to_key:sector.name %}
        <p>{{ app.id }}: {{ app.title }}</p>
    {% endfor %}
{% endfor %}

{#{% for app in app_list %}#}
{#    {% for %}#}
{#{% endfor %}#}
{% endcomment %}
<section class="content-a" id="content">

	<div class="hero-c">
		<!-- you can art direct image using <picture> here too if needed -->
		<figure class="bg-a"><img src="{{ STATIC_URL }}img/header-and-footer.png?1280x425" alt="" /></figure>
		<div class="contain">
			<figure><img src="{{ STATIC_URL }}img/hero-c-logo-a.png" width="250" alt=""></figure>
		</div>
	</div>

	<!--[if IE]><p class="browser-a">Your browser is outdated, it may not render this page properly, please <a href="http://browsehappy.com/" rel="external">upgrade</a>.</p><![endif]-->

	<div class="page-a contain">
		<div class="main">
			<div class="intro">
				<div class="wrap">
					<h3 class="hx-a">Welcome To The Smart Gigabit Communities Page</h3>
					<p>The Smart Gigabit Community Program will leverage gigabit infrastructures for economic advantage in multiple local economies. The program 125 different Smart City Applications. Groups all over the world – from Montgomery County to Genoa, Italy – are creating the future of smart cites. </p>
					<p>The program is supported by the National Science Foundation, Hewlett Packard Enterprises, Juniper, Mozilla, and others. </p>
					<div class="spacer" style="height: 70px;"></div>
				</div>
			</div>

			<div class="cards-a" style="margin-top: -150px">
				<div class="items">
					<article>
						<a href="./">
							<figure class="bg-a"><img src="{{ STATIC_URL }}img/cards-a-bg-a.jpg?400x290" alt="" /></figure>
							<div class="wrap">
								<h3 class="hx">{{ app_count }} Apps</h3>
								<p>These applications will change the world through innovative technology.</p>
							</div>
						</a>
					</article>
					<!-- repeated: -->
					<article><figure class="bg-a"><img src="{{ STATIC_URL }}img/cards-a-bg-a.jpg" alt="" /></figure><div class="wrap"><h3 class="hx">{{ hub_count }} Communities</h3><p>These applications will change the world through innovative technology.</p></div></article>
					<article><figure class="bg-a"><img src="{{ STATIC_URL }}img/cards-a-bg-a.jpg" alt="" /></figure><div class="wrap"><h3 class="hx">{{ funder_count }} Funders</h3><p>Including the National Science Foundation and the Bill and Melinda Gates Foundation.</p></div></article>
					<article><figure class="bg-a"><img src="{{ STATIC_URL }}img/cards-a-bg-a.jpg" alt="" /></figure><div class="wrap"><h3 class="hx">{{ testbed_count }} Testbeds</h3><p>These applications will change the world through innovative technology.</p></div></article>
				</div>
			</div>

			<h3 class="hx-a"><span>Featured Applications</span></h3>

			{% for sector in sector_list %}
			    
			<div class="data-a">
				<h3 class="hx-a">{{ sector.name }} applications</h3>
				<div class="table-a fold">
					<div class="wrap">
						<table>
							<thead>
								<tr>
									<th scope="col">App Name</th>
									<th scope="col">Categories</th>
									<th scope="col">Founders</th>
									<th scope="col">Community</th>
								</tr>
							</thead>
							<tbody>
								{% for app in sector|val_to_key:sector.name %}

							    <tr data-app-id="{{ app.id }}">
									<td>
										<p><big><a href="./">{{ app.title }}</a></big></p>
										<p>{{ app.summary }}</p>
										<p class="hide@small"><strong>Team lead: Daniel Hoffman, University of Chicago</strong></p>
									</td>
									<td class="hide@small">Transportation and Air Quality, Infrastructure Data and Planning</td>
									<td class="hide@small">National Science Foundation, Bill and Melinda Gates Foundation, Electronic Frontier Foundation</td>
									<td>Montgomery County</td>
								</tr>
							    {% endfor %}
							
							</tbody>
						</table>
					</div>
				</div>
				<p class="action"><a href="./" class="button-a text">See All {{ sector|length }} Other Applications <span class="arrow-a"></span></a></p>
			</div>
			{% endfor %}

			<p class="$mYb"><a href="./" class="button-a block">See All Apps<span class="hide@small"> &amp; Action Clusters </span><span class="arrow-a"></span></a></p>

			<h3 class="hx-a v2@small"><span>Funding Agents</span></h3>

			<div class="logos-a">
				<ul>
					<li><a href="./"><img src="images/dot.php?size=90x40xe5cfb1" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
					<li><a href="./"><img src="images/dot.php?size=90x40xabdee7" alt="Sponsor" /></a></li>
				</ul>
			</div>
		</div>
		<div class="side sidebar-a">
			<div class="section hide show@large">
				<h4 class="hx">About</h4>
				<p>Welcome to the Smart Gigabit Communities Page! This page is managed by John Doe.</p>
				<p>We believe that Smart Gigabit Communities can change the world.</p>
				<p>Feel free to message me at <a href="./">johndoe@email.com</a> with any questions.</p>
			</div>
			<div class="section">
				<h4 class="hx">Latest News</h4>
				<ul class="lx-a">
					<li><a href="{{ latest_news.get_absolute_url }}">{{ latest_news.title }}</a> <time>{{ latest_news.publish_date|date:"M d, Y" }}</time></li>
				</ul>
				<p class="action"><a href="{{ SITE_URL }}/news" class="button-a text">See More <span class="arrow-a"></span></a></p>
			</div>
			<div class="section">
				<h4 class="hx">Upcoming Events</h4>
				<ul class="lx-a">
					<li><a href="{# {{ upcoming_event.get_absolute_url }} #}">{{ upcoming_event.name }}</a> 
					<time>{{ upcoming_event.start_datetime|date:"M d, Y" }}</time></li>
				</ul>
				<p class="action"><a href="./" class="button-a text">See More <span class="arrow-a"></span></a></p>
			</div>
			<div class="section">
				<h4 class="hx">Links &amp; Resources</h4>
				<ul class="lx-a">
					<li><a href="./">What is a Smart Gigabit Community?</a></li>
					<li><a href="./">Application Form for SGC</a></li>
					<li><a href="./">Another Resource</a></li>
				</ul>
				<p class="action"><a href="./" class="button-a text">See More <span class="arrow-a"></span></a></p>
			</div>
			<div class="section gray hide show@large">
				<h4 class="hx">Stay Informed</h4>
				<form action="./" method="post" class="signup-b validate">
					<div class="fields">
						<p><input type="text" name="ifn" id="f-ifn" required placeholder="First Name *" /></p>
						<p><input type="text" name="iln" id="f-iln" required placeholder="Last Name *" /></p>
						<p><input type="email" name="iea" id="f-iea" required placeholder="Email Address *" /></p>
						<p><input type="text" name="icn" id="f-icn" placeholder="Company/Organization" /></p>
						<p class="action"><button type="submit" class="button-a block">Sign Up</button></p>
					</div>
					<div class="thanks">
						<p>Thank you for signing up!</p>
					</div>
				</form>
			</div>
			<div class="section socials-a hide show@large">
				<ul>
					<li><a href="./"><i class="fa fa-facebook-square"></i><span> Facebook</span></a></li>
					<li><a href="./"><i class="fa fa-twitter-square"></i><span> Twitter</span></a></li>
					<li><a href="./"><i class="fa fa-youtube-square"></i><span> Youtube</span></a></li>
					<li><a href="./"><i class="fa fa-google-plus-square"></i><span> Google+</span></a></li>
				</ul>
			</div>
		</div>
	</div>

</section>
{% endblock content %}