{% load thumbnail %}

<div >
    <article>
        {% if object.image %}
        <figure>
            <a href="{{ object.get_absolute_url }}">
                <img class="img-thumbnail " src="{{ MEDIA_URL }}{% thumbnail object.image 800x350 %}">
            </a>
        </figure>
        {% endif %}
        <div>
            <p>
            {% if not hide_tags %}
				{% with object.tags.all as tag_list %}
					{% if tag_list %}
					<p class="featured__tags">
						{% for tag in tag_list %}{{ tag|upper }}{% if not forloop.last %},{% endif%} {% endfor%}
					</p>
					{% endif %}
				{% endwith %}
			{% endif %}
            </p>
            <h2><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
        </div>
    </article>
</div>