{% extends BASE_TEMPLATE %}

{% block content %}
<section class="content-a" id="content">

	<div class="hero-b">
		<!-- you can art direct image using <picture> here too if needed -->
		<figure class="bg-a"><img src="{{ STATIC_URL }}img/hero-b-bg-a.jpg?1280x200" alt="" /></figure>
		<div class="contain narrow">
			<h1 class="hx">{% block page_title %}{% endblock page_title %}</h1>
		</div>
	</div>

	<!--[if IE]><p class="browser-a">Your browser is outdated, it may not render this page properly, please <a href="http://browsehappy.com/" rel="external">upgrade</a>.</p><![endif]-->

	<div class="page-a contain">
		<div class="main">
			{% comment %}
			{% block sector_list %}{% endblock sector_list %}
			{% block object_list %}{% endblock object_list %}
			{% block featured %}
			{% if featured_list %}
			<div class="row collapse">
				<div class="small-12 columns">
					<div class="row listing-featured">
						{% for featured in featured_list %}
						{% include "includes/lists/object_block_featured.html" with object=featured last=forloop.last %}
						{% endfor%}
					</div>
				</div>
			</div>
			{% endif %}
			{% endblock %}
			{% endcomment %}

			{% block intro %}{% endblock intro %}

			{% block filter_object %}{% endblock filter_object %}

			<p class="hx-b hide show@small"><span>Showing 1-12 Results</span></p>
			{% if page.object_list_top %}
				<div class="table-a fold">
					<div class="wrap">
						{% block object_table %}{% endblock object_table %}
					</div>
				{% include "includes/pagination.html" %}
				</div>
			{% else %}
				<p class="message-a no-results"><strong>No results Found</strong> <br/> Try a different search</p>
			{% endif %}
		
		</div>


	</div>
</section>
{% endblock content %}