{% load thumbnail %}

<div >
    <article>
        {% if object.image %}
        <figure>
            <a href="{{ object.get_absolute_url }}">
                {% thumbnail object.image '800x350' crop='center' as im %}
                <img class="img-thumbnail " src="{{ im.url }}">
                {% endthumbnail %}
            </a>
        </figure>
        {% else %}
        <figure>
        {% if object.sector %}
            <a href="{{ object.get_absolute_url }}">
            {% thumbnail object.sector.default_image '800x350' crop='center' as im %}
                <img class="img-thumbnail " src="{{ im.url }}">
            {% endthumbnail %}
            </a>
        {% else %}
            <a href="{{ object.get_absolute_url }}">
                <img class="img-thumbnail " src="http://placehold.it/800x350">
            </a>
        {% endif %}
        </figure>
        {% endif %}
        <div>
            <p>
            {% if not hide_tags %}
				{% with object.tags.all as tag_list %}
					{% if tag_list %}
					<p class="featured__tags">
					{% for cat in object.categories.all %}
						{{ cat.name }}{% if forloop.last %}{% else %}, {% endif %} 
					{% endfor %}
					</p>
					{% endif %}
				{% endwith %}
			{% endif %}
            </p>
            <h2><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
        </div>
    </article>
</div>