
<article>
    {% comment %}
    <figure class="bg-a">
    	{% load thumbnail %}
    	<picture>
			{% if object.image %}
				<source media="(min-width: 1025px)" srcset="{% thumbnail object.image 280x180 crop %}" />
				<img src="{% thumbnail object.image 280x180 crop %}" alt="{{ object.name }}" class="featured__image" />
			{% else %}
				<source media="(min-width: 1025px)" srcset="{{ STATIC_URL }}img/blank.png" />
				<img src="{{ STATIC_URL }}img/blank.png" alt="{{ object.name }}" />
			{% endif %}
        </picture>
    </figure>
    {% endcomment %}
    <a href="{{ object.get_absolute_url }}">
        <p class="brow">
        	{% if not hide_tags %}
				{% with object.tags.all as tag_list %}
					{% if tag_list %}
					<p class="featured__tags">
						{% for tag in tag_list %}{{ tag|upper }}{% if not forloop.last %},{% endif%} {% endfor%}
					</p>
					{% endif %}
				{% endwith %}
			{% endif %}
       	</p>
        <h3 class="hx">{{ object.name }}</h3>
        <p>
        	{% block object_detail %}{{ object.get_summary }}{% endblock object_detail %}
        	<span class="arrow-a"></span>
        </p> 
    </a>
</article>