{% extends "base.html" %}{% load apps_urls thumbnail common_markdown news_tags %}

{% block title %}Application {{ object.name }} - {{ block.super }}{% endblock title %}

{% block content %}

<section class="content-a" id="content">

	<div class="hero-b">
		<!-- you can art direct image using <picture> here too if needed -->
		<figure class="bg-a"><img src="{{ STATIC_URL }}img/hero-b-bg-a.jpg?1280x200" alt="" /></figure>
		<div class="contain narrow">
			<h1 class="hx">{% block page_title %}{% endblock page_title %}</h1>
		</div>
	</div>

	<!--[if IE]><p class="browser-a">Your browser is outdated, it may not render this page properly, please <a href="http://browsehappy.com/" rel="external">upgrade</a>.</p><![endif]-->

	<div class="page-a contain">
		<div class="main">
			<h2>
				{% block content_title %}{{ object.name }} {% if object.is_draft %}(Draft){% endif %}{% endblock content_title %}
			</h2>
			<span class="listings__listing__tags">
				{% block tag_list %}{% endblock %}
			</span>
				
			<article>
				{% block content_media %}
					{% if object.image %}
                        {% thumbnail object.image '800x600' crop='center' as im %}
						<div><img src="{{ im.url }}" alt="" title="{{ object.name }}"/></div>
                        {% endthumbnail %}
					{% endif %}

					{% if media_list %}
						{% for media in media_list %}
							{% include "apps/includes/media.html" with object=media %}
						{% endfor%}
					{% endif %}
				{% endblock content_media %}

				{% if object.summary %}
				<!-- Summary -->
				
				<p>
					{{ object.summary|linebreaksbr }}
				</p>
					
				<!-- /Summary -->
				{% endif %}

				{% block detail_content %}
				
				<ul class="no-bullet">
					{% block intro %}
					{% endblock intro %}
				</ul>
						
				{% endblock detail_content %}

				{% block related_objects %}{% endblock related_objects %}

			</article>
				

		</div>
		<div class="side sidebar-a hide show@large">
			{% block sidebar %}
				{% block sidebar_content %}
				{% include "includes/lists/sidebar.html" %}
				{% endblock sidebar_content %}
			{% endblock sidebar %}
		</div>
	</div>

	
</section>
{% endblock content %}
