{{ form.non_field_errors }}
{% for field in form.visible_fields %}
	<p class="label">
		{% if field.errors %}{{ field.errors }}{% endif %}
		<label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required%}<span class="field-required"> *</span>{% endif %} <small>{{ field.help_text }}</small></label>
	</p>
	<p class="fields">
		{{ field }}
	</p>
{% endfor%}
{% for field in form.hidden_fields %}
	<div style="display:none;">{{ field }}</div>
{% endfor %}
<p>
	<span class="field-required">* </span>Indicates the field is required.
</p>
