{% load i18n %}

{% if current_page.has_previous or current_page.has_next %}
<div style="clear:both; position;relative;"></div>
<div class="table-a fold">
	<nav class="paging-a">
		<ul>

			<li class="page-info">
			    <span>{% trans "Page" %} {{ current_page.number }} {% trans "of" %} {{ current_page.paginator.num_pages }}</span>
			</li>
			<li class="prev step{% if not current_page.has_previous %} disabled{% endif %}">
			    <a{% if current_page.has_previous %} href="?{{ page_var }}={{ current_page.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"{% endif %}><span>&laquo;</span></a>
			</li>
			{% for page in current_page.visible_page_range %}
			<li{% if page == current_page.number %} class="is-active" {% else %} class="hide@small" {% endif %}>
			    <a href="?{{ page_var }}={{ page }}{% if querystring %}&{{ querystring }}{% endif %}">{{ page }}</a>
			</li>
			{% endfor %}
			<li class="next step{% if not current_page.has_next %} disabled{% endif %}">
			    <a{% if current_page.has_next %} href="?{{ page_var }}={{ current_page.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"{% endif %}>&raquo;</a>
			</li>

			</ul>
		</ul>
	</nav>
</div>
{% endif %}

